@{
    Layout = null;
}

@*Home page design code taken from Vinay Someawat's Github repo.
    https://github.com/vinaysomawat/vinaysomawat.github.io*@

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Super WiFi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio webpage of Elvis Shrestha" />
    <meta name="keywords" content="portfolio,website,personal website,github,projects,business informatics, computer information" />
    <meta name="author" content="Elvis Shrestha" />
    <!---------Google adsense------------->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1798587142715791",
            enable_page_level_ads: true
        });</script>

    <!--quora icon-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="kisspng-wechat-avatar-icon-line-v-word-5a715fe8a66dc6.6173848315173795606817.png">
    <link rel="icon" type="image/png" href="kisspng-wechat-avatar-icon-line-v-word-5a715fe8a66dc6.6173848315173795606817.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

</head>

<!--- Github ribbon ----------->
<a href="https://github.com/vinaysomawat/vinaysomawat.github.io" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a>
<style>
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    @@keyframes octocat-wave {
        0%, 100% {
            transform: rotate(0)
        }

        20%, 60% {
            transform: rotate(-25deg)
        }

        40%, 80% {
            transform: rotate(10deg)
        }
    }

    @@media (max-width:500px) {
        .github-corner:hover .octo-arm {
            animation: none
        }

        .github-corner .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }
    }
</style>

<body>
    <div id="colorlib-page">
        <div class="container-wrap">
            <!------- Medium Articles ---------------------------->
            <section class="colorlib-blog" data-section="blog">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div>
                            <div class="blog-entry">
                                <h1>How Could Super Wi fi Affect Rural Life</h1>
                                <p><strong>Research Paper for INFO 1150</strong></p>
                                <a href="" class="blog-img"><img src="~/images/i-slate.jpg" style="width:50%" alt="HTML5 Bootstrap Template by colorlib.com"></a>
                                <div class="desc">
                                    <span><small>March 18, 2017 </small> | <small> Computer Networking </small></span>
                                    <p>
                                        In the modern world, life without internet is practically impossible. We live in a world where high-speed internet is now more than necessary.
                                        Our daily-life tasks from navigating a local address, socializing with friends and families globally and locally, taking a college or school courses, self-learning, researching for news and streaming online videos, all these tasks are dependent to an internet access.
                                        The world is consistently interconnected through the development of new technologies and high-speed communication such as smart phones, and wireless internet access. Yet, majority of people in the world do not have access to the internet.
                                        As a result, technology companies are now exploring a way to connect the whole world to the internet, by development of hot air balloons, drones and constellations of mini-satellites. While these ideas are an effective way to get the whole world online, without having to
                                        worry of being outside the range of Wi-Fi connection, these are all long-term, expensive plans and will take longer to achieve.
                                    </p>
                                    <p>
                                        Fortunately, for the time being, the tech giant, Microsoft’s plan of harnessing Television White Channels (TVWC) to deliver high-speed broadband internet connection could make millions of life easier in the rural areas of USA and eventually in developing countries worldwide
                                        who are lacking broadband internet connection today. In addition to the high-speed internet access, the convenience of not having to worry about being outside the Wi-Fi zone would be the excitement that we could get from “Super Wi-Fi”, as this new technology has a potential to cover an area about 100 times more the diameter of a normal Wi-Fi.
                                    </p>
                                    <p>
                                        First, let me explain what “white spaces” mean and how we can utilize them to produce
                                        broadband internet connection. The white spaces are radio waves in the electromagnetic
                                        spectrum that are unused. “The electromagnetic spectrum is the range of all possible frequencies of electromagnetic radiation” (Moshirnia, 2012). This is important because most of the devices that we use today, from smartphones to television to car remotes, all uses frequencies in the spectrum in order to communicate wireless signals (2012).
                                        One of the waves in the electromagnetic spectrum is the radio waves, and other constitute of visible lights, microwaves, infrared radiation, X-rays and gamma rays. Radio waves are best used to communicate information. Communication mediums such as television, radios and cell phones all communicate sound, that is transmitted by the station by
                                        converting the radio waves to mechanical vibration to create sound waves that can be heard (Lucas, 2015). The lower frequencies in the electromagnetic spectrum provide better results in communicating signals. This means that the lower frequency waves have higher range as it can penetrate through buildings and environment surroundings more easily
                                        than that of higher frequency waves.
                                    </p>
                                    <p>
                                        The bands of frequency in the spectrum are allocated for specific purpose in order to prevent interference within the spectrum. Similarly, television broadcasting is allocated bands between 54 and 806 MHz, and each broadcaster is assigned license to channels within the spectrum (Moshirnia, 2012). The white channels are the gaps between the TV channels that are allocated to make sure that the channels do not interfere with one another.
                                        These allocated but not used channels are referred to as “white channels”. There are plenty of these white spaces, or unused channels simply because not all the channels are actually used in the market. And this is even more prevalent in rural areas as broadcasters choose not to provide service in the communities with less population because they don’t see any profit in the rural area (2012).
                                    </p>
                                    <p>
                                        These unused spectrum or white spaces were first provided by US government to public without requiring license to use for the devices specifically such as garage door openers and microwave ovens. Later, this release introduced the wirelessly connecting electronic devices, Wi-Fi. Today, Wi-Fi along with several other devices such as microwaves, security cameras, and cordless phones uses the unlicensed high bands of the spectrum that runs in the frequency of 2.4 GHz and 5 GHz (2012).
                                    </p>
                                    <p>
                                        Now that we have an idea of what the white channels are, and how it can provide high-speed internet access to large range area than a normal Wi-Fi, I will explain how the Super Wi-Fi work. The main component of this system is the location-aware devices and online databases. The access of Super Wi-Fi will use a geographic internet-databases to get the available networks in the spectrum.
                                        “The database has a list of all protected TV stations and frequencies across the country” (Microsoft). To prevent interference with the existing TV channels, implementation of Super Wi-Fi networks is accessed through radio-enabled devices, which will report the device’s location to the database. In return, the database will provide the list of all available white channels that can be used in its current location.
                                        And, if the frequency is unused, the device will use that frequency to communicate (Microsoft). This will mean that Microsoft plan to utilize white space will require devices that would use geographical databases to prevent interference with licensed TV broadcasters within a frequency band. This process operates in a lower frequency channels than that of normal Wi-Fi which enables a much larger range and consistent signal.

                                    </p>
                                    <p>
                                        Who will benefit from this promising new technology? “Some of the most immediate beneficiaries will be people currently living in the areas that cannot be affordably reached with existing technologies”. The modern world is increasingly globalized through the means of high-speed communications. Yet, almost two thirds of the world’s population lack access to an internet connection (Microsoft). Super Wi-Fi has the potential to make the internet easily accessible to these areas as it has potential to transmit signals to very large areas,
                                        and make it affordable so that most of the people can use. Internet access in these areas will also mean improvement in the healthcare, education, and business areas, contributing to the development of a nation. Moreover, people in the areas that lack internet can share their resources that are valuable to us which will mean benefit to the world. Super Wi-Fi has a potential to globalize the world in a much easier way than that of regular Wi-Fi.
                                    </p>
                                    <p>
                                        Besides, Super Wi-Fi can also benefit the people that already have an access to the internet. In urban and most populated areas, high-speed broad band internet is not a major problem. The presence of increasing competition among the Wi-Fi service providers has enabled the access of wireless technologies in a cheap price so that most of the people can afford the cost of high-speed internet access. Moreover, there are other forms of broadband internet access i.e. 3G and LTE network that mobile phone service provides that enables us to access
                                        internet even outside the range of available Wi-Fi networks. However, the cost of these type of network is quite expensive to access. Super Wi-Fi can provide the internet access in a cheap price compare to the regular Wi-Fi as it can cover large areas with one station.
                                    </p>
                                    <p>
                                        Even in the city areas, the introduction of this technology will mean the greater efficiency of broadband internet access as it can transmit signal to much larger areas with the same power and computing requirements than that of regular Wi-Fi. “The regular Wi-Fi routers have an indoor range of 30 to 50 meters”. While the super Wi-Fi networks has the capability to broadcast signals at the same power level to a radius of 10 kilometers, or more than 6 miles (Enis, 2017). This would mean more benefits to consumer as the cost of providing internet access
                                        will reduce significantly since internet providers can cover much larger range of customers with one base station which would mean that a whole community can be connected through use of just one base. This can also be cost effective in one way that the extra cost that most of us are paying these days to phone service providers for the LTE or 3G networks so that we can access broadband internet access outside our home or campus would be eliminated.
                                    </p>
                                    <p>
                                        Furthermore, the main issues of the already present Wi-Fi networks is that the technologies and business models that work well for delivering access to urban areas might not work well for delivering access to rural areas. The normal Wi-Fi is really weak mostly because it runs in higher frequency and the signals cannot be transmitted against concrete obstruction. And as rural areas has most complex geographical structures, this has resulted to approximately 39 percent of rural Americans that lack access to broadband connections (Ernis, 2017).
                                        Thankfully, rural areas are particularly more suited to the use of Super Wi-Fi because there are less wireless and media markets present in less populated area. This means that there are large availability of unused channels in the spectrum that can be utilized for internet access, with less conflict because more unused frequencies are available. The opportunity of getting people online in rural areas would also mean the development of those areas, since there are more than handful of resources that we can get online; such as education resources, online news, and new ideas, are only some of the productive things that are found in the internet.
                                    </p>
                                    <p>
                                        Lastly, I will discuss the benefit of introducing super Wi-Fi to the tech companies. Promoting the white-spaces technology not only benefits to the public, but it has an enormous potential to reap rewards for tech companies. “The remaining 24.3 million people in rural areas without internet are potential customers of cloud applications, search and other digital services” (Kang, 2017). Providing broadband internet access to these people, and in developing countries would also mean that these people will use the online digital services such as music subscription, online news and movies subscription. In addition, these people are also potential
                                        online customers of the shopping companies such as Amazon, E-bay etc. This will generate huge income for these companies.
                                    </p>
                                    <p>
                                        The potential benefits of super Wi-Fi certainly seem to outweigh the benefits of regular Wi-Fi. However, the technology also faces numerous challenges along its way to connect the world. Several groups such as television broadcasters, and others who uses unlicensed white channels for communicating through wireless microphones such as church groups’ theater troupes and sport referees argue that the use of white spaces will interfere with their signals (Moshirnia, 2012). But, Federal Communications Commission has ensured the protection from interferences by maintaining of databases containing the frequencies of all licensed TV band in each geographical location.
                                        While this problem seem to have resolved, there are several other challenges that the technology is facing. One of the major challenges is that availability of devices in order to catch the white channel signals. There are only few companies that manufacture devices that is compatible with white-spaces technology, and consequently these devices are expensive, i.e. it costs more than $1000 each (Kang, 2017). The reason for this expensive cost seem to be that manufacturers are still not sure of profitability that they can make in rural areas (2017).
                                    </p>
                                    <p>
                                        This emerging technology has many potential, to contribute to globalization and possibly benefiting everyone including public, tech companies and development of a nation. But, this idea has now been in the technology market for a while now, and Microsoft has been planning to introduce this technology for well over a decade. Thus, there might be still some time before we see the market of this technology world-wide. The goal of Microsoft is not to become a telecom provider, but their plan is to invest in the capital costs and work with local internet service providers in rural places to experiment the benefits of the technology (Kang, 2017).
                                        While there are other technology companies such as google, who is also working to make this project successful, we can only hope this idea will be available in the market sooner.
                                    </p>
                                    <p>
                                        <br /><br /><br /><br /><br />
                                    </p>
                                    <h3>References</h3><br />
                                    <p>
                                        Enis, M. (2017). WhiteSpace project could grow rural broadband access. Library Journal. Retrieved from http://lj.libraryjournal.com/2017/01/industry-news/whitespace-project-could-grow-rural-broadband-access/#_
                                    </p>
                                    <p>
                                        Kang, C. To close digital divide, Microsoft to harness unused television channels. The New York Times. Retrieved from https://www.nytimes.com/2017/07/11/technology/to-close-digital-divide-microsoft-to-harness-unused-television-channels.html
                                    </p>
                                    <p>
                                        Lucas, J. (2015). What are radio waves? Live Science. Retrieved from https://www.livescience.com/50399-radio-waves.html
                                    </p>
                                    <p>
                                        Moshirnia, A.V. (2012). Whither white spaces? Infrastructure, 51(2), 3-4. Retrieved from libpublic3.library.isu.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&db=a9h&AN=75122337&site=ehost-live.
                                    </p>
                                    <p>
                                        n.d. Super wi-fi technologies. Microsoft. Retrieved from https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/spectrum-microsoft-super-wifi-overview.pdf
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
