@{
    Layout = null;
}

@*Home page design code taken from Vinay Someawat's Github repo.
    https://github.com/vinaysomawat/vinaysomawat.github.io*@

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Version Control System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio webpage of Elvis Shrestha" />
    <meta name="keywords" content="portfolio,website,personal website,github,projects,business informatics, computer information" />
    <meta name="author" content="Elvis Shrestha" />
    <!---------Google adsense------------->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1798587142715791",
            enable_page_level_ads: true
        });</script>

    <!--quora icon-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="kisspng-wechat-avatar-icon-line-v-word-5a715fe8a66dc6.6173848315173795606817.png">
    <link rel="icon" type="image/png" href="kisspng-wechat-avatar-icon-line-v-word-5a715fe8a66dc6.6173848315173795606817.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

</head>

<!--- Github ribbon ----------->
<a href="https://github.com/vinaysomawat/vinaysomawat.github.io" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a>
<style>
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    @@keyframes octocat-wave {
        0%, 100% {
            transform: rotate(0)
        }

        20%, 60% {
            transform: rotate(-25deg)
        }

        40%, 80% {
            transform: rotate(10deg)
        }
    }

    @@media (max-width:500px) {
        .github-corner:hover .octo-arm {
            animation: none
        }

        .github-corner .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }
    }
</style>

<body>
    <div id="colorlib-page">
        <div class="container-wrap">
            <!------- Medium Articles ---------------------------->
            <section class="colorlib-blog" data-section="blog">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div>
                            <div class="blog-entry">
                                <h1>Importance of Software Version Control in Tech World</h1>
                                <p><strong>Research Paper </strong></p>
                                <a href="" class="blog-img"><img src="~/images/Version.png" style="width:50%" alt="HTML5 Bootstrap Template by colorlib.com"></a>
                                <div class="desc">
                                    <span><small>February 12, 2018 </small> | <small> Software Development </small></span>
                                    <p>
                                        Software version control has made the tasks of software development lot easier, stress-free and faster. Whether in professional or academic life, software version control is a must for software developers. 
                                        Version Control System (VCS) is more than necessary in working any project as it provides a full history of changes made in a project, platform for collaboration among multiple developers and other functions like Feature Branches. 
                                        Without these features, the task of software development process would be hectic. If no version control is used while developing a software, the process will be a lot of time-consuming and less efficient. 
                                        It is very difficult to keep track of changes in repositories if we are to do manually, and mistakes are unavoidable.
                                    </p>
                                    <p>
                                        Fortunately, there are several control systems such as SVN, CVS, Git etc. available to us, but in this paper, I will emphasize on the use of Git, and adverse impact on the software development process if no version control system is used. 
                                        I will also discuss the difference between Git and Git Hub, an online hosting service to host Git repositories.
                                    </p>
                                    <p>
                                        What makes the version control system important in software development? 
                                        First, Software version control systems are a category of software tools that help manage changes made to source code over time in a project. In other words, VCS help tracks every change while working on projects like websites, application etc. 
                                        It provides the full history by keeping track of any changes made in project files. This feature provides developers with a flexibility of experimenting with new ideas without fear of losing the previous ideas. Using software version control, 
                                        we can always revert back to a specific past version of the code which was used to generate particular results (Bilschak & Davenport, 2016).
                                    </p>
                                    <p>
                                        Let’s suppose that we are developing a website and have made changes in the .css file to modify our website’s footer style. After some days, we need to make the same changes on another website. Before VCS, often we kept track of changes by saving different versions of the files. 
                                        This required that we make a new copy of the file before making any new changes. But with VCS, we can easily find how we solved problems in the past as it tracks when and where in the file the change was made, and even shows what changes we made. This makes the experimenting with 
                                        new ideas more efficient and easy. “Version control tries to address problems like these by implementing a systematic approach to recording and managing changes in files” (Strien, 2016).
                                    </p>
                                    <p>
                                        Another important feature of software version control system is that it makes the collaboration easier when working on group projects. Suppose that I share project files with multiple team members or collaborators, and they make changes or contribute new ideas to the project. 
                                        If a VCS is not available, we would have to incorporate changes in the project manually after receiving an email containing changes from every team members (Bilschak & Davenport, 2016). This means that team members should provide with the highlights of what changes they made in the project. It will also mean that while I am waiting for the changes from members, I cannot work in the project myself.  This leads to a lot of stress and time to both my team members and me as multiple members working on the same code can corrupt code.
                                    </p>
                                    <p>
                                        Fortunately, a VCS is very good in facilitating collaboration part of group projects. In fact, one of the motivations to the development of Version control system was to allow multiple people to work on large projects together, and Git was particularly developed to manage the Linux kernel source code (Strien, 2016).  
                                        “Using a VCS, your collaborators can make and save changes to the code, and you can automatically incorporate these changes to the main code base” (Bilschak & Davenport, 2016). VCS can automatically merge and save all the changes made by team members in the project, and also provide the description of changes made by each member. 
                                        In addition, it also helps to prevent concurrent work from conflicting which makes the collaboration easier and more productive.
                                    </p>
                                    <p>
                                        The third important feature of VCS is Feature Branches.  Most of the VCS today are designed to support branches which are an independent part of work that derives from one central code base (Radigan). Branching allows us to work on different aspects of the project independently, and merge them separately with the main code as soon after completing each branch. 
                                        For example:  Let us suppose, we need to make changes in our website’s header and footer. Now if there were not VCS then we would work on the two tasks, and only merge them after completing both tasks. This means that we cannot make our websites live if we completely let’s say the Footer part of the website because we are still working on the header part which will look broken if we are to go live.

                                    </p>
                                    <p>
                                        It is now clear that the Version Control System is an important tool in the software development process, and Git is one of the VCS available to us. Now I will discuss the difference between Git and GitHub. These two are often mistaken to be synonymous. Git and GitHub go hand in hand, however, they are two different things. Git was particularly developed by the Linux developer as a version control system to manage the Linux source code. 
                                        It is the most popular and used by people frequently than other version control system in order to manage changes in repositories (Strien, 2016). Git keeps track of changes to the source code files, and also allow sharing the content with others.
                                    </p>
                                    <p>
                                        Measuring the benefits that a version control system provides to software developers, it is not deniable that without VCS, the process of software development would be a lot slower and confusing. By keeping track of changes, easily collaborating in projects and branching out tasks, we make the process of software development very efficient.  It is a powerful tool that has improved the code development and documentation. 
                                        With version control system, we no longer have to worry of any accidental incident causing the source code to remove completely as we can undo the previous version following a couple of lines of codes.
                                    </p>
                                    <p>
                                        Version control system not only allows to track changes and undo the modifications made in the project but its powerful feature is that it allows collaboration and sharing of files on a massive scale. 
                                        GitHub further emphasizes the collaboration feature of VCS by providing facility to share our code online, merge changes across different users and collaborate in small groups.
                                    </p>
                                    <p>
                                        In addition, the fork and pull feature of GitHub, we can work to improve open-source scientific programs by forking public repositories and sending pull requests (Strien, 2016). Life for software developers without a version control system is difficult and not fun. As a result, the knowledge of a VCS, especially Git is very important to software developers in both professional and academic life. 
                                        Its value is even more realized now and in a term, most of the computer jobs require good experience of VCS.
                                    </p>
                                   
                                    <p>
                                        <br /><br /><br /><br /><br />
                                    </p>
                                    <h3>References</h3><br />
                                    <p>
                                        Blischak JD, Davenport ER, Wilson G (2016). A Quick Introduction to Version Control with Git and GitHub. PLoS Comput Biol. 12(1): e1004668. https://doi.org/10.1371/journal.pcbi.1004668                                    </p>
                                    <p>
                                        Strien, DV. (2016). An Introduction to Version Control Using GitHub Desktop. The Programming Historian. Retrieved from https://programminghistorian.org/en/lessons/getting-started-with-github-desktop
                                    </p>
                                    <p>
                                        Radigan, D.  (n.d) Feature Branching Your Way to Greatness. Atlassian. Retrieved from https://www.atlassian.com/agile/software-development/branching
                                    </p>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
