
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Executive Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio webpage of Elvis Shrestha" />
    <meta name="keywords" content="portfolio,website,personal website,github,projects,business informatics, computer information system" />
    <meta name="author" content="Elvis Shrestha" />

    <!--quora icon-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="kisspng-wechat-avatar-icon-line-v-word-5a715fe8a66dc6.6173848315173795606817.png">
    <link rel="icon" type="image/png" href="logo.png">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <style type="text/css">
        body {
            font-family: "Quicksand", Arial, sans-serif;
            font-weight: 400;
            font-size: 15px;
        }

        h1 {
            font-family: serif;
            margin-bottom: 0;
            font-size: xx-large;
        }

        article {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .image-wrapper {
            width: 200px;
            float: left;
            padding-right: 25px;
            padding-bottom: 10px;
        }

            .image-wrapper img {
                width: 100%;
            }

            .image-wrapper span {
                font-family: sans-serif;
                font-size: 10px;
                color: #ccc;
            }
    </style>
</head>
<body>

    <article>
        <h2>WRLRR Project, Introduction</h2>

        <h2 style="color:darkorange">Company Background:</h2>

        <p>
            Lost River Winder Riders, a free-flight sports shop in central Idaho, opened in 1990 to sell and
            service hang gliding, paragliding, and snow kiting equipment. The company started as a co-op to
            allow the owners and a few of their friends to buy top name equipment and accessories for their
            hang gliding and paragliding hobbies at a reduced rate. As more enthusiasts became involved in
            free -flight sports, the owners saw an opportunity to leverage their hobby into a full-time
            business while still doing what they loved.
        </p>
        <p>
            As stated on company’s site free-flight sports are seasonal, so the company extended their sales
            line into winter sports. In keeping with the theme of air-reliant vehicles they decided to add snow
            kitting equipment to their line of offering in order to insure year round business. The latest
            addition to their company line came in 2006, when they began sales and service of powered
            ultralight aircraft. The market for free-flight sporting equipment in the central Idaho area has
            been booming and annual sales have increased from $20,000 in 1990 to more than $1,200,000 in
            2004 to $2,300,000 in 2013.
        </p>
        <p>
            The present location has a showroom, a warehouse, and repair facilities. The showroom is a four
            thousand square foot expanse, allowing sufficient room to examine the various models that are
            available. The state-of-the-art warehouse features catalogued and indexed parts ready for
            installation. The company has both indoor and outdoor repair areas, allowing for several repairs
            to be performed simultaneously. All of this is nestled in a pristine setting with a nearby
            escarpment that can be used for hang gliding and paragliding takeoffs for those who want to “test
            drive” the equipment. The company now employs approximately twelve people in various
            capacities including sales management, general support and repair and maintenance.
        </p>
        <h2 style="color:darkorange">Problems (that made the new system necessary):</h2>
        <p>
            As their customer base and sales increased, they began to experience problems with inventory
            control, missing reorder points and experiencing inventory stock-outs that resulted in lost sales.
            Company records were maintained using an off-the-shelf accounting program, with additional
            information derived using Excel spreadsheets.
            The company was unable to determine sales history and trends from the current system, and
            needed better control of capital by insuring that needed items were purchased and less popular
            items were not. In 2005 Lost River Wind Riders engaged the services of a consultant who
            specialized in systems analysis and design to analyze and update their system.
        </p>
    </article>
</body>
</html>
