
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Executive Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio webpage of Elvis Shrestha" />
    <meta name="keywords" content="portfolio,website,personal website,github,projects,business informatics, computer information system" />
    <meta name="author" content="Elvis Shrestha" />

    <!--quora icon-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="kisspng-wechat-avatar-icon-line-v-word-5a715fe8a66dc6.6173848315173795606817.png">
    <link rel="icon" type="image/png" href="logo.png">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <style type="text/css">
        body {
            font-family: sans-serif;
        }

        h1 {
            font-family: serif;
            margin-bottom: 0;
            font-size: xx-large;
        }

        article {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .image-wrapper {
            width: 200px;
            float: left;
            padding-right: 25px;
            padding-bottom: 10px;
        }

            .image-wrapper img {
                width: 100%;
            }

            .image-wrapper span {
                font-family: sans-serif;
                font-size: 10px;
                color: #ccc;
            }
    </style>
</head>
<body>
   
    <article>
        <h2 style="color:darkorange">WRLRR Project Executive Summary:</h2>

        <p>
            <strong>Goals</strong><br />
            The Wind Riders of the Lost River Range (WRLRR) sales and customer base has been growing
            following the booming market for free-flight sporting equipment in the central Idaho. In the past
            decade, the company has doubled its sales revenue. With this constant growth in business makes
            it necessary to improve the current system by modifying information access and record keeping.
            The main objective of this project is to improve the business customer service by making the
            record of products and sales easily available to manager and analyze the future system after
            adding new services.
        </p>
        <p>
            <strong>Problems</strong><br />
            The past problem of weak record keeping and inventory control had resulted in lost sales. The
            company was able to solve this issue and achieve better control of inventory in the current
            system. However, the increasing customer base required company to further improve the
            customer service by making the process of purchasing system faster. In addition, the company’s
            decision of adding ultralight aircraft to their sales resulted in issues of government regulations
            regarding strict record keeping. This brought challenges for managers to keep strict records on
            vehicle certification and registration, and required their customers to complete training lessons in
            order to purchase a powered ultralight.
        </p>
        <p>
            <strong>Results</strong><br />
            The new system will automate the process of equipment purchase through product placard
            making the process faster and easier. This means that the business will run more efficiently after
            the improvements in customer service. The new system also addresses the new services that are
            recently added by WRLRR in the service list. It modifies the current system by adding the new
            processes and also ensuring the effective flow of inventory, products, and sales record to the
            manager. Manager will be able to access information about product’s sales history and trend, and
            reorder points providing better control of inventory.
        </p>
        <p>
            <strong>Recommendations</strong><br />
            It is highly recommended that the WRLRR implement an updated system which better tracks the
            equipment information and improve the process of customer service. The new services that are
            recently added require the company to modify the current system. In addition, the continuous
            growth of market for free-flight sports equipment makes it necessary that the purchasing process
            be short by implementing the automatic methods. Without the improved and automated system,
            WRLRR will likely face the past problems of lost sales due to poor inventory control. The
            modification cost is estimated very little relative to the cost that arises from lost sales, and just in
            little expense WRLRR will be able to remain competitive and satisfy their customer.
        </p>
    </article>
</body>
</html>
