@model List<Portfolio_Elvis.Models.Album>
@{
    ViewData["Title"] = "ASP.Net Core MVC Music Store";
    Layout = "~/Views/Shared/_LayoutMusicStore.cshtml";
}
<style>
    #promotion {
        height: 300px;
        width: 700px;
        background: url(/images/home-showcase.png) no-repeat;
    }

    #albums{
        width:100px;
        height:70px;
    }
</style>
<div id="promotion">
</div>
<h3><em>Fresh</em> off the grill</h3>
<ul id="album-list">
    @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Details", "MusicStore",
                new { id = album.AlbumId })">
                <img id="albums" alt="@album.Title" src="@album.AlbumArtUrl" />
                <span>@album.Title</span>
            </a>
        </li>
    }
</ul>

